:root{
  --color-fiery-rose: #F45B69;
  --color-lavender-blush: #F6E8EA;
  --color-raisin-black: #22181C;
  --color-rosewood: #5A0001;
  --color-red-pigment: #F13030;
  --color-light-gray: #d6d6d6;
}

body
{
  font-family: 'Nanum Gothic', sans-serif;
  color: var(--color-raisin-black);
  background-color: var(--color-light-gray);
  position: relative;
 
}
header{
  position: fixed;
  top: 0;
  min-height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-raisin-black);
}
header > h3
{
  margin-right: 59rem; 
}
@media (max-width: 600px)
{
  header
  {
    flex-wrap: wrap;
  }
  header > h3
  {
    margin: 0 7em auto auto;
    text-align: center;
  }
}
#header-img
{
  margin-right: auto;
  width: 100px;
  height: 50px;
}
@media (max-width: 650px)
{
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li
  {
    padding-bottom: 5px;
  }
}
.navlinks
{
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
 @media (max-width: 650px)
 {
   .navlinks
   {
     flex-direction: column;
   }
 }
a:link
{
  text-decoration: none;
  color: var(--color-raisin-black);
}
a:hover
{
  color: var(--color-lavender-blush);
}

a:visited
{
  color:var(--color-raisin-black);
}

#form
{
  display: flex;
  flex-direction: column; 
  color: var(--color-raisin-black);
  padding: 10em 0;
  align-items: center;
  margin-top: 150px;

}
.hero
{
  background-image: url('https://cdn.discordapp.com/attachments/806257975965515798/886267472087486504/unknown.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#colordye
{
  width: 6rem;
  height: 6rem;
}
label
{
  color: var(--color-raisin-black);
}
label
{
  padding: 0 0 1em 0;
}

#submit
{
  background-color: var(--color-rosewood);
  color: var(--color-lavender-blush);
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 1em 0.1em 0.1em 0;
  border: 0.16em solid rgba(255,255,255,0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transittion: all 0.2s;
}
#submit:hover{
  border-color: var(--color-lavender-blush);
}
#features
{
  padding: 5em 0 2em 0;
  text-align: center;
}
#features > p
{
  padding: 0 0 1em 0;
}

#possiblecolors > h3,
#ingredients > h3
{
  text-align: center;
}

#table-colors
{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px 15px;
  border-collapse: collapse;
}
th
{
  background-color: var(--color-rosewood);
  text-align: center;
  color: var(--color-lavender-blush);
}
td img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}




  

